{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center">
   <h2 class="text-success mb-3"> {{ course.name }} </h2>
   <div class="row">

      <div class="col">
         <h5 class="text-warning">Teacher: 
            {% if course.teacher != null %}
               <a class="text text-success" href="{{ path('teacher_detail' , {'id' : course.teacher.id})}}">
                  {{ course.teacher.name }}
               </a>             
            {% endif %}
        </h5>
         <h5 class="text-secondary">Price: {{ course.coursefee }} $ </h5>
      </div>
   </div>
</div>
{% endblock %}