{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid col-md-8 text-center">
   <h2 class="text text-success mb-3">{{ teacher.name }}</h2>
   <div class="row">
      <div class="col">
         <img src="{{ teacher.image }}" width=250 height=250>
      </div>
      <div class="col">
         <br><br>
         <h3> course List </h3>
         {% if teacher.courses != null %}
            {% for course in teacher.courses %}
               <a class="text text-success" href="{{ path('teacher_detail' , {'id' : course.id })}}"> 
                  {{ course.title }} 
               </a>
               <br>
            {% endfor %}
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}